h1 {
    color: red
}
p {
    color: green
}
#chosen {
    border: 1px solid brown
}
.foo {
    text-transform: uppercase
}
* {
    background-color: gray
}
p::first-letter {
    font-size: 2rem;
}
p:hover {
    background-color: white
}
div p {
    font-style: italic
}